common --experimental_exec_groups

build --worker_sandboxing
build --experimental_worker_allow_json_protocol
build --worker_verbose
build --worker_quit_after_build

build --experimental_platforms_api
build --experimental_starlark_config_transitions
build --incompatible_enable_cc_toolchain_resolution

build --host_copt='-mavx2'
build --host_cxxopt='-std=c++2a'
build --host_cxxopt='-fconcepts'
build --host_cxxopt='-mavx2'

build --copt='-mavx2'
build --cxxopt='-std=c++2a'
build --cxxopt='-fconcepts'
build --cxxopt='-mavx2'

# This is for the tools in 'old_projects/idl_compiler'.
# build --extra_toolchains //old_projects/idl_compiler/compiler:compiler_toolchain
# build --extra_toolchains //old_projects/idl_compiler/generator:generator_toolchain
# build --extra_toolchains //old_projects/idl_compiler/linker:linker_toolchain
