common --experimental_exec_groups

build --experimental_platforms_api
build --experimental_starlark_config_transitions
build --incompatible_enable_cc_toolchain_resolution

build --host_cxxopt='-std=c++2a'
build --host_cxxopt='-mavx2'

build --cxxopt='-std=c++2a'
build --cxxopt='-mavx2'
