Language: Cpp
#Standard: c++17
ColumnLimit: 160
AccessModifierOffset: -2
IndentWidth: 4
UseTab: Never
ContinuationIndentWidth: 2
ConstructorInitializerIndentWidth: 2
FixNamespaceComments: true
IndentWrappedFunctionNames: false
KeepEmptyLinesAtTheStartOfBlocks: false
SortIncludes: false
SortUsingDeclarations: true
IndentCaseLabels: true
#IndentGotoLabels: true
IndentPPDirectives: AfterHash
NamespaceIndentation: All
PointerAlignment: Left
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignConsecutiveMacros: true
AlignEscapedNewlines: Right
AlignOperands: true
AlignTrailingComments: true
SpaceAfterCStyleCast: false
SpaceAfterTemplateKeyword: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeCpp11BracedList: true
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpaceBeforeRangeBasedForLoopColon: true
SpaceBeforeParens: ControlStatements
#SpaceInEmptyBlock: true
SpacesInContainerLiterals: true
AllowShortBlocksOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
#AllowShortLambdasOnASingleLine: None
#AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
#AllowAllConstructorInitializersOnNextLine: true
AlwaysBreakBeforeMultilineStrings: false
BinPackArguments: false
BinPackParameters: false
AlwaysBreakTemplateDeclarations: Yes
BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeComma
CompactNamespaces: false
BreakBeforeBinaryOperators: None
BreakStringLiterals: true
BreakBeforeTernaryOperators: true
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: false
  AfterControlStatement: false
  AfterEnum: false
  AfterFunction: false
  AfterNamespace: false
  AfterStruct: false
  AfterUnion: false
  AfterExternBlock: false
  BeforeCatch: false
  BeforeElse: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
